@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("http://localhost/CalcioForums/images/ita.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.top_container {
	font-family: Zapf Chancery, cursive;
	text-align: center;
}

.header {
	color: black;
	margin-left: 20px;
}

.nav_menu {
	text-align: center;
	list-style-type: none;
}

.nav_menu>ul {
	display: inline-block;
	background-color: rgba(192, 192, 192, 0.3);
}

.nav_menu>li {
	float: left;
	display: block;
	line-height: 35px;
	padding: 0 15px;
	list-style-type: none;
	margin: 20px;
}

.nav_menu>li:hover {
	background-color: rgba(192, 192, 192, 0.6);
}

.nav_menu>li>a {
	text-decoration: none;
	color: black;
}

.dropDownForm {
	background-color: rgba(192, 192, 192, 1.0);;
	list-style-type: none;
	position: absolute;
	padding: 0 15px;
	margin-left: -35px;
	border-radius: 10px;
}

#loginForm {
	display: none;
}

#registerForm {
	display: none;
}

.statusLabel{
	font-size: 12px;
}

#submitReg{
	display:block;
	margin: 0 auto;
}

.forum_body {
	height: 600px;
	width: 1000px;
	background-color: black;
	display: inline-block;
	margin-bottom: 40px;
	margin-left: 20px;
	float: left;
	border-style: ridge;
}

.teamList {
	list-style-type: none;
	text-align: center;
}

.leagueTable {
	height: 600px;
	width: 385px;
	background-color: black;
	display: inline-block;
	margin-bottom: 40px;
	margin-left: 10px;
	border: ridge;
}